.cont{
    width: 95%;
    margin-left: 2.5%;
    margin-top: 1%;
    margin-bottom: 1%;
    height: auto;
}
.btnl{
    width: 100% !important;
    height: 70px !important;
    outline: none !important;
    border-radius: 10px !important;
    font-size:30px !important;
    color: black !important;
}
.w{
    width: 100% !important;
}